<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Важно &middot;</span>
    {% endif %}
    
    {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Januar
  {% when '2' %}Februar
  {% when '3' %}März
  {% when '4' %}April
  {% when '5' %}Mai
  {% when '6' %}Juni
  {% when '7' %}Juli
  {% when '8' %}August
  {% when '9' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}
    {{ page.date | date: "%Y" }}
    
    <time datetime="{{ post.date }}" class="catalogue-time">{{ page.date | date: "%Y" }}</time>
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
