<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Важно &middot; </span>
    {% endif %}
  
   
           <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include date.html date=page.date %}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.categories != empty or page.tags != empty %}{% include category_links.html categories=page.categories tags=page.tags %}{% endif %}</p>
<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%-d %B, %Y" }}</time>
    
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>


    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
