<nav class="nav">

  <div class="nav-container">

    <li><a href='trans.php'><img src='images/github.png' width="30" height="30"/></li>
   <li><a href='trans.php'><img src='images/github.png' width="30" height="30"/></li>
     <li><a href='trans.php'><img src='images/github.png' width="30" height="30"/></li>
   <li><a href='trans.php'><img src='images/github.png' width="30" height="30"/></li>
        
    <a href="{{ site.baseurl }}/">
      
       
    
      
      
        </a>


  
    
   
    <ul>
         <li><a href="{{ '/tags' | prepend: site.baseurl }}">Теги</a></li>
      <li><a href="{{ '_pages/Presentation.pdf' | prepend: site.baseurl }}">Презентация</a></li>
    
  
    </ul>
  
  </div>
  
</nav>

