<nav class="nav">

  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      
       
      <h2 class="nav-title">{{ site.title }}  
      
       <ul>
       <li> <a href='trans.php'><img src='images/github.png' width="15" height="15"/></li>
  <li> <a href='trans.php'><img src='images/github.png' width="15" height="15"/></li>
    </ul>
      
      
      </h2>

      
      
        </a>


  
    
   
    <ul>
         <li><a href="{{ '/tags' | prepend: site.baseurl }}">Теги</a></li>
      <li><a href="{{ '_pages/Presentation.pdf' | prepend: site.baseurl }}">Презентация</a></li>
    
  
    </ul>
  
  </div>
  
</nav>

