// Colors
$default-color: #999FA2 !default;
$default-shade: #D98E55 !default;
$default-tint: #1F1B14 !default;
$grey-1: #725D4F !default;
$grey-2: #725D4F !default;
$grey-3: #725D4F !default;
$white: #ffff !default;
$blue: #4a9ae1 !default;
$shadow-color: rgba(0, 0, 0, .2) !default;
$code-color: #D98E55 !default;


// Fonts
$serif-primary: 'Roboto', Times, serif !default;
$serif-secondary: 'Roboto', Times, serif !default;
$sans-serif: 'Roboto', Times, sans-serif !default;
$monospaced: 'Roboto Mono', Times, monospace !default;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
